name: Auto Update Proxy

on:
  schedule:
    - cron: '*/59 * * * *' # 每59分钟运行
  workflow_dispatch: # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install selenium webdriver-manager PyGithub

      - name: Run script
        env:
          # 注意：这里的 TOKEN 需要在仓库 Settings -> Secrets -> Actions 中添加
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }} 
        run: python auto_proxy.py
